body,div,dl,dt,dd,ul,ol,li,h1,h2,form,fieldset,input,textarea,blockquote,th,td { 
    margin:0;
    padding:0;
}

body{
    font-family: Verdana, Helvetica, sans-serif; 
    font-size: 17px;
    background: #eeefef url(/images/fg.png) repeat 50% 50%;
    color: $primary;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}

.post{
    text-shadow:  white 0px 1px 0px;
}

#header{
    background: #bbbaba url(/images/fg_dark.gif) repeat;
    color: #504f4f;
    text-shadow: 0px 2px 1px #bbbaba;
    top: 0;
    min-height: 50px;

}
#header h1{
    display: inline;
}
#header a{
    color: #504f4f;
    text-decoration: none;
}

#header a.right{
    float: right;
    padding-top: 5px;
    
}
#header a:hover {
    color: #666;
    text-shadow: 0px 2px 1px #333;
}

#content{
    margin: 0 auto;
    width: 80%;
}

pre{
    background-color: ghostWhite !important;
    border: 1px solid #DEDEDE !important;
}
