<!DOCTYPE HTML> 
<html lang="es">
<head>
        <meta charset="utf-8" />
		<meta name="description" content="El nerdlog de progra 4" />
        <title>{{page.title}}</title>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="/css/base.css" media="screen" /> 
</head>
<body>
    <div id="header">
        <h1 class="title"><a href="/">El nerdlog de progra 4</a></h1>
    </div>
    <div id="content">
        {{content}}
    </div>
</body>
</html>
